@tailwind base;
@tailwind components;
@tailwind utilities;

.tag {
  @apply text-white bg-black p-2 text-xs rounded-2xl group-hover:bg-white group-hover:text-sky-500;
}
.button {
  @apply bg-sky-300 text-white font-medium hover:bg-sky-400 hover:font-extrabold rounded-xl;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
